{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": ["import", "simple-import-sort"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      { "allowExpressions": true }
    ],
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-cycle": "error",
    "import/no-default-export": "warn",
    "import/no-duplicates": "warn",
    "simple-import-sort/sort": "warn"
  }
}
